#categories .category-items {
    cursor: default !important;
    overflow-x: auto !important;
    scrollbar-width: thin;
}

#categories .category-items:active {
    cursor: grabbing !important;
}

.category-items::-webkit-scrollbar {
    height: 8px;
    display: block;
}

.category-items::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}


@media (max-width: 1366px) {
    #categories > h2{
        font-size: 20px;
    }
}
@media (max-width: 1000px) {
    #categories .category-items {
        overflow-x: scroll !important;
    }
}

@media (max-width: 870px) {
    #categories{
        padding-bottom: 0;
    }
    #categories>h2 {
        font-size: 3.3vw;
    }
    #categories .image {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 550px) {
    #categories>h2 {
        font-size: 4.3vw;
    }
    
    #categories .image {
        width: 80px;
        height: 80px;
    }

    #categories .category-items {
        justify-content: flex-start;
        overflow-x: scroll !important;
    }

    #categories .category-items {
        padding-top: 5px;
    }

    #categories .category-items h3 {
        font-size: 11px;
    }

    
}