.container{
    max-width: 80%;
    margin: 0 auto;
    /* overflow-x: hidden; */
}
.text-blue{
    color: #37b5fe;
}
.bg-blue{
    background-color: #37b5fe;
}
.text-blue-dark{
    color: #0083cf;
}
.bg-blue-dark{
    background-color: #0083cf;
}

button{
    cursor: pointer;
}
@media (max-width: 600px) {
    .container{
        max-width: 100%;
        /* background-color: #37b5fe; */
        margin: auto;
    }
}