.container{
    max-width: 80%;
    margin: 0 auto;
}
.text-blue{
    color: #37b5fe;
}
.bg-blue{
    background-color: #37b5fe;
}
.text-blue-dark{
    color: #0083cf;
}
.bg-blue-dark{
    background-color: #0083cf;
}

@media (max-width: 600px) {
    .container{
        max-width: 95%;
    }
}